article-footer-bottom {
    position: relative;
    display: block;
    padding: 0 10px;
    background-color: #fff;
    .post-bottom-v4 {
        height: 46px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        transform: translateY(-2px);
        font-size: 14px;
        padding-right: .5px;
        align-items: center;
        .bottom-inner-v4 {
            overflow: hidden;
            display: flex;
            margin-right: 2px;
            flex: 1;
            align-items: center;
            .item-user-avatar-v4 {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #efece9;
                outline: 0;
                border: none;
            }
            .item-user-name-v4 {
                margin-left: 6px;
                font-size: 12px;
                color: #9f9f9f;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 14px;
                max-width: 40%;
            }
            .item-like-icon-v4 {
                width: 14px;
                height: 14px;
                margin-left: 11px;
                margin-top: -1px;
                background-size: 100% 100%;
                background-image: url("./01.png");
            }
            .item-like-count-v4 {
                margin-left: 2px;
                font-size: 12px;
                margin-top: 1px;
                color: #9f9f9f;
            }
            .item-reply-icon-v4 {
                width: 14px;
                height: 14px;
                margin-left: 11px;
                margin-top: 1px;
                background-size: 100% 100%;
                background-image: url("./02.png");
            }
            .item-reply-count-v4 {
                margin-left: 2px;
                margin-top: 1px;
                font-size: 12px;
                color: #9f9f9f;
            }
            .item-look-icon-v4 {
                width: 14px;
                height: 14px;
                margin-left: 11px;
                margin-top: 1px;
                background-size: 100% 100%;
                background-image: url("./look.png");
            }
            .item-look-count-v4 {
                margin-left: 2px;
                margin-top: 1px;
                font-size: 12px;
                color: #9f9f9f;
            }
        }
        .item-user-tag-v4-ios {
            border-width: .5px;
            border-style: solid;
            border-radius: 2px;
            border-color: #bbb;
            padding-top: .5px;
            transform: translateY(.5px);
            .item-user-barname-v4 {
                font-size: 10px;
                color: #bbb;
                overflow: hidden;
                max-width: 80px;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 12px;
                background-color: #fff;
                border-radius: 2px;
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        .item-more-v4 {
            width: 12px;
            height: 12px;
            position: relative;
            padding: 10px 0 10px 10px;
            margin-top: 1px;
            &:after {
                display: block;
                content: "";
                width: 12px;
                height: 12px;
                background-size: 100% 100%;
                background-image: url("./more.png");
            }
        }
    }
}