<div class="form registerinfo-form" style="margin-top: 0px;padding-top: 0px;">
    <div class="form-line base-form-line onepxborder-t">
        <div class="input-extend-wrap onepxborder-b" *ngFor="let item of order.order$ | async">
            <div class="input input-extend onepxborder-b" *ngIf="item.num">
                <label for="" class="txt">{{item.title}}</label>
                <div class="text">
                    <strong class="name">
                        {{item.num}}{{item.unit}}
                    </strong>
                    <em class="job" *ngIf="!item.desc">
                        <span>x&nbsp;{{item.price}}</span>
                        <span *ngIf="item.unit">/{{item.unit}}</span>
                        <span>=&nbsp;{{item.price * item.num}}元</span>
                    </em>
                    <em class="job" *ngIf="item.desc">
                        <span>{{item.desc}}</span>
                    </em>
                </div>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <a href="javascript:;" class="weui-btn weui-btn_primary">立即支付({{total$|async}}元)</a>
    </div>
</div>